{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "google" %}
<a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" class="flex items-center justify-center w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-secondary transition duration-300">
  <i class="fab fa-google text-red-500 mr-2"></i> {% if process == "login" %}Sign in{% else %}Sign up{% endif %} with Google
</a>
{% endif %}
{% endfor %}